/* THIS FILE IS JUST FOR EXAMPLES, DELETE IT IF YOU DON'T NEED IT */

/* SHELL ---------------------------------------- */
html {
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

body {
  overflow-x: hidden;
}

/* HEADINGS ------------------------------------- */
h1,
h2,
h3 {
  color: white;
  margin: 0;
}

h1 {
  font-size: 3.2rem;
  text-align: center;
}
h1 .highlight,
h3 .highlight {
  color: var(--qwik-light-blue);
}

h2 {
  font-weight: 400;
  font-size: 2.4rem;
}
h2 .highlight {
  font-weight: 700;
}

h3 {
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3.4rem;
  }
  h3 {
    font-size: 3rem;
  }
}

/* TAGS ----------------------------------------- */
a {
  text-decoration: none;
  color: var(--qwik-light-blue);
}

code {
  background: rgba(230, 230, 230, 0.3);
  border-radius: 4px;
  padding: 2px 6px;
}

ul {
  margin: 0;
  padding-left: 20px;
}

/* CONTAINER ------------------------------------ */
.container {
  margin: 0 auto;
  padding: 30px 40px;
}
.container.container-purple {
  background: var(--qwik-light-purple);
}
.container.container-dark {
  background: var(--qwik-dark-background);
  color: var(--qwik-dark-text);
}
.container.container-center {
  text-align: center;
}
.container.container-flex {
  /* does nothing on mobile */
}
.container.container-spacing-xl {
  padding: 50px 40px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 50px 80px;
  }
  .container.container-spacing-xl {
    padding: 100px 60px;
  }
  .container.container-flex {
    display: flex;
    justify-content: center;
    gap: 60px;
  }
}
